<footer class="page-footer">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col l6 s12">
        <h5 class="white-text">SmartIs</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
          scelerisque id nunc
          nec volutpat.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">تنظیمات</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">تماس با ما</h5>
        <ul>
          <li><a class="white-text"> 09123243354 : شماره تماس </a></li>
          <li><a href="mailto:info@example.com">info@example.com</a> : ایمیل </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright &#169; 2018
    </div>
  </div>
</footer>
