<!-- <section class="section1" data-aos="fade-in">
  <mz-parallax [height]="height">
    <div class="container1">
      <img class="imgParallax" [src]="imageUrl" alt="Unsplashed background img 1">
      <h1 *ngIf="title">{{title}}</h1>
    </div>
  </mz-parallax>
</section> -->
<section class="s-contact" [ngStyle]="{'background-image': imageUrl,height:height+'px'}">
  <div *ngIf="titles && titles.length">
    <p *ngFor="let title of titles" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
      data-aos-mirror="true">
      {{title}}
    </p>
  </div>


  <!-- <h1 *ngIf="title" data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
    data-aos-mirror="true">{{title}}</h1> -->

</section>
