<div class="container">
  <ul>
    <li> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
        ورود </a></li>
    <li> <a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        عضویت </a></li>
    <li><i class="fa fa-phone" aria-hidden="true"></i> 09123243354 : تماس</li>
    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>
  </ul>
</div>
